<!DOCTYPE html>
<html>
  <head>
    <title>Edit Student</title>
  </head>
  <body style="font-family: Arial; text-align: center; margin-top: 50px">
    <h2>✏️ Edit Student</h2>
    <form action="/edit/<%= student._id %>" method="POST">
      <input
        type="text"
        name="name"
        value="<%= student.name %>"
        required
      /><br /><br />
      <input
        type="text"
        name="rollNo"
        value="<%= student.rollNo %>"
        required
      /><br /><br />
      <input
        type="text"
        name="class"
        value="<%= student.class %>"
        required
      /><br /><br />
      <input
        type="email"
        name="email"
        value="<%= student.email %>"
        required
      /><br /><br />
      <button type="submit">Update</button>
    </form>
    <br />
    <a href="/">⬅ Back</a>
  </body>
</html>
